@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  font-family: "DM Sans";
  font-size: 18px;
  --clr-sft-red: hsl(10, 79%, 65%);
  --clr-cyan: hsl(186, 34%, 60%);
  --clr-dark-brown: hsl(25, 47%, 15%);
  --clr-med-brown: hsl(28, 10%, 53%);
  --clr-cream: hsl(27, 66%, 92%);
  --clr-pale-orange: hsl(33, 100%, 98%);
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: var(--clr-cream);
}

#root {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.subheading {
  color: var(--clr-med-brown);
}

.myBalance {
  width: 50%;
  background-color: var(--clr-sft-red);
  border-radius: 1em;
  color: var(--clr-pale-orange);
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.myBalance h3 {
  font-size: 1.5em;
}

.myBalance h3,
.myBalance p {
  margin-block: 0.25em;
}

.main-card {
  width: 50%;
  background-color: var(--clr-pale-orange);
  border-radius: 1em;
  padding: 1em;
  margin: 1em;
}

.total {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.total h3 {
  font-size: 1.5em;
}

.days-chart {
  width: 100%;
  align-items: end;
}

.chart-div {
  display: grid;
  place-items: center;
}