@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  font-family: "DM Sans";
  font-size: 18px;
  --clr-sft-red: hsl(10, 79%, 65%);
  --clr-cyan: hsl(186, 34%, 60%);
  --clr-dark-brown: hsl(25, 47%, 15%);
  --clr-med-brown: hsl(28, 10%, 53%);
  --clr-cream: hsl(27, 66%, 92%);
  --clr-pale-orange: hsl(33, 100%, 98%);
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: var(--clr-cream);
}

#root {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subheading {
  color: var(--clr-med-brown);
}

.myBalance {
  width: 50%;
  background-color: var(--clr-sft-red);
  border-radius: 1em;
  color: var(--clr-pale-orange);
  padding: 0.75em 1em;
  display: flex;
  justify-content: space-between;
}

.myBalance h3 {
  font-size: 1.5em;
}

.myBalance h3,
.myBalance p {
  margin-block: 0.25em;
}

.main-card {
  width: 50%;
  background-color: var(--clr-pale-orange);
  border-radius: 1em;
  padding: 0.5em 1em;
  margin: 1em;
}

.total {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  border-top: 2px solid var(--clr-cream);
  margin-block: 1em;
}

.total2 {
  margin-bottom: 0.5em;
}

.percentage {
  margin: 0;
  padding: 0;
  font-weight: 600;
}

.text {
  margin: 0;
}

.total h3 {
  font-size: 2em;
  margin-block: 0;
}

.days-chart {
  width: 100%;
  align-items: end;
}

.days {
  margin-bottom: 0.25em;
}

.chart-div {
  display: grid;
  place-items: center;
  padding-bottom: 0;
}

.chart-div div div {
  display: none;
}

.chart-div div:hover div,
.chart-div div:focus div {
  display: block;
}

@media screen and (max-width: 480px) {
  .myBalance,
  .main-card {
    width: 80%;
  }
}
